{
  "workspace_name": "landscape",
  "pro_token": "<pro-token>",
  "path_to_ssh_key": "<path-to-ssh-key>",
  "path_to_ssl_cert": "",
  "path_to_ssl_key": "",
  "hostname": "landscape",
  "domain": "example.com",
  "admin_email": "admin@example.com",
  "admin_password": "pwd",
  "min_install": true,
  "landscape_ppa": "ppa:landscape/self-hosted-beta",
  "landscape_server_units": 1,
  "registration_key": "key",
  "landscape_server_channel": "latest/edge",
  "landscape_server_base": "ubuntu@24.04",
  "landscape_server_revision": 134,
  "path_to_gpg_private_key": "./private.asc",
  "ubuntu_core_series": "core24",
  "ubuntu_core_count": 0,
  "ubuntu_core_device_name": "core-client",
  "lxd_vm_count": 2,
  "lxd_series": "noble",
  "lxd_vm_name": "client",
  "postgresql_units": 1,
  "rabbitmq_server_units": 1
}
