pro_token = "<token>"
model_name = "landscape"
path_to_ssh_key = "/home/ubuntu/.ssh/id_ed25519.pub"
landscape_fqdn = "landscape.example.com"
admin_email = "admin@example.com"
admin_password = "<password>"
min_install = true # skip hashids but faster install
landscape_ppa = "ppa:landscape/self-hosted-beta"
registration_key = "key"
landscape_server_base = "ubuntu@22.04"
