# Name of the OpenTofu/Terraform workspace. It will also be used as the name of the Juju model.
workspace_name = ""

# Landscape Client Configuration

## Ubuntu Pro token
pro_token = ""

## LXD VMs
lxd_vms = [
  {
    computer_title        = "client-0"
    image_alias           = "noble"
    additional_cloud_init = <<EOT
#cloud-config
apt:
  sources:
    fish-ppa:
      source: "ppa:fish-shell/release-4"
packages:
  - fish
  - landscape-client
users:
  - name: ubuntu
    shell: /usr/bin/fish
    sudo: ALL=(ALL) NOPASSWD:ALL
EOT
  },
  {
    computer_title = "client-1"
    image_alias    = "jammy"
  }
]

## Ubuntu Core
ubuntu_core_series = "core24"

ubuntu_core_count = 0

ubuntu_core_device_name = "core-client"

# Path to your local SSH public key to use for the Juju model
path_to_ssh_key = ""

# Path to your SSL cert, if using your own domain
path_to_ssl_cert = ""

# Path to your SSL key, if using your own domain
path_to_ssl_key = ""

# Path to a GPG key. Cannot have a password. Optional unless setting up repo mirroring.
# path_to_gpg_private_key = "./private.asc"

hostname = "landscape"

domain = "example.com"

admin_name = "Landscape Admin"

admin_email = "admin@example.com"

admin_password = "pwd"

registration_key = "key"

landscape_ppa = "ppa:landscape/latest-stable"

min_install = true

# Landscape Server configuration
landscape_server = {
  app_name = "landscape-server"
  channel  = "latest-stable/edge"
  config = {
    autoregistration = true
  }
  constraints = "arch=amd64"
  revision    = null
  base        = "ubuntu@22.04"
  units       = 1
}


# PostgreSQL configuration
postgresql = {
  channel  = "14/stable"
}

# HAProxy configuration
haproxy = {
  channel  = "latest/edge"
  config = {
    default_timeouts            = "queue 60000, connect 5000, client 120000, server 120000"
    global_default_bind_options = "no-tlsv10"
    services                    = ""
    ssl_cert                    = "SELFSIGNED"
  }
}

# RabbitMQ Server configuration
rabbitmq_server = {
  channel  = "latest/edge"
  base        = "ubuntu@24.04"
}
